* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

#table {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 20px;
}

.box {
    padding: 15px;
    border: 1px solid black;
    width: 100px;
    background: rgb(142, 230, 142);
}